@font-face {
    font-family: "Roboto Mono";
    font-display: swap;
    src: url("/fonts/RobotoMono-Medium.ttf") format("truetype");
}

body {
    font-family: "Roboto Mono", monospace;
    margin: 10px 0 0;
    padding: 0;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    min-height: 100vh;
    min-width: 100vw;
    flex-direction: column;
}

.ratPreview {
    float: left;
    margin:10px;
    padding: 10px;
}

.ratThumbnail {
    width: 40vh;
    height: 40vh;
    border: 5px solid black;
    cursor:pointer;
}

@media (prefers-color-scheme: light) {
    footer a {
        color: black;
    }
}

@media (prefers-color-scheme: dark) {
    footer a {
        color: white;
    }

    body {
        background: #202124;
        color: white;
    }
    a {
        color:white;
    }
}

#selectedRatArea {
    display:none;
}

.ratAboutInfoHeading {
    text-align: center;
    color: black;
}

.card{
    margin:25px;
    background: #e5decf;
    border: solid black;
    float:left;
    border-width: 3px 4px 3px 5px;
    border-radius:95% 4% 92% 5%/4% 95% 6% 95%;
    transform: rotate(2deg);
    padding:15px;
}

.cardInner{
    margin:15px;
    transform: rotate(-2deg);
}